{% load staticfiles %}
    <html>
        <head>
             <link rel="icon" href="https://maxcdn.icons8.com/Share/icon/ios7/Cinema//anonymous_mask1600.png" type="image/gif" sizes="16x16"> 
             <title>DesWeb</title>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet"> 
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <link href="https://fonts.googleapis.com/css?family" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Spectral" rel="stylesheet"> 
            <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet"> 
        </head>

		<body style="background-color:lightgrey;">

<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
	
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FF0000;
  color: white;
}

.topnav-right {
  float: right;
}
</style>
</head>
<body>

<div class="topnav">
  <div class="topnav-right">
    <a class="active" href="{% url 'blog.views.dw_login' %}">Ingresar</a>
	<a class="active" href="{% url 'blog.views.dw_register' %}">Registrarse</a>
  </div>
</div>
  </div>
</div>
            <h1><center><a></a><img src="/static/img/dw.png" alt="Logo DesWeb" height="180" width="500"></a></center></h1>
			<br>
            <h2 style="color:red"><center>Usuario no activo</center> </h2>

        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
             {% block content %} 
    Usuario desactivado



    <h1>El usuario no esta activo</h1>


    
    
    <p>contactarse con el administrador</p>
    
{% endblock %}
                </div>
            </div>
        </div>
    </body>
    </html>



